.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  border-radius: 16px;
  background-color: #fff;
  z-index: 1000;
  display: none;
  max-width: 719px;
  width: 100%;

  &--active {
    display: flex;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    height: 44px;
    width: 44px;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin: 0 0 20px;
    letter-spacing: 0.01em;
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    letter-spacing: 0.003em;
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}